<div class="jumbotron center">
  <h1>Welcome to the future MSL (wip)</h1>
  <% if user_signed_in? %>
     
  <% else %>
  <p>
  	<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>  
  <% end %>  

  


<ul class="list-group">
<h2 class="text-left">Pin Feed:</h2>
    <% @pins.each do |pin| %>
	
    <li class="list-group-item"></span><%= pin.description %> by <%= pin.user.email if pin.user %>
    <% end %>
</ul>
</table>



</div>